body {
    background-color: coral;
    font-family: 'Share Tech Mono', monospace;
}

#main {
    height: 500px;
    width: 330px;
    margin: auto;
    margin-top: 10%;
    place-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 15px grey;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 5px;
}

#screen {
    width: 300px;
    height: 100px;
    background-color: coral;
    border-radius: 5px;
    margin-top: 20px;
}

#displayValue {
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
    margin-right: 10px;
    color: #333333;
    font-size: 20px;
}

#row1 {
    margin-top: 15px;
}

#row5 {
    margin-bottom: 15px;
}

#main button {
    background-color: coral;
    width: 60px;
    height: 60px;
    margin: 4px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 5px grey;
    font-size: 18px;
    font-weight: bolder;
    color: #333333;
    transition: 0.2s;
}


#main #ac {
    background-color: #f55d4c;
}

#main #c {
    background-color: #b78fc0;
}

#main #operation {
    background-color: #B5D6B8;
}

#main button:hover {
    transform: scale(1.05);
    background-color: lavender;
    border: 1px solid coral;
}
